/* Shape.css */

.shape {
  position: absolute;
  border: 1px solid #ccc;
  text-align: center;
  cursor: move;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: lightcoral;
  border-radius: 50%;
}

.rectangle {
  width: 100px;  
  height: 50px;  
  background-color: lightblue;
}

.parallelogram {
  width: 100px;
  height: 50px;
  background-color: rgb(232, 232, 178);
  transform: skew(-20deg);
}

.diamond {
  width: 70px;
  height: 70px;
  background-color: lightgreen;
  transform: rotate(45deg);
}
